Source: ros-hydro-dynamic-reconfigure
Section: misc
Priority: extra
Maintainer: Esteve Fernandez <esteve@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, ros-hydro-catkin (>= 0.5.74), ros-hydro-message-generation, ros-hydro-roscpp, ros-hydro-std-msgs
Homepage: http://ros.org/wiki/dynamic_reconfigure
Standards-Version: 3.9.2

Package: ros-hydro-dynamic-reconfigure
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-hydro-message-runtime, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-rospy, ros-hydro-rosservice, ros-hydro-std-msgs
Description: This unary stack contains the dynamic_reconfigure package which provides a means to change node parameters at any time without having to restart the node.
