Source: ros-groovy-dynamic-reconfigure
Section: misc
Priority: extra
Maintainer: Ze'ev Klapow <zklapow@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost1.46-all-dev,ros-groovy-roscpp,ros-groovy-catkin,ros-groovy-genmsg,ros-groovy-std-msgs,ros-groovy-langs-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-dynamic-reconfigure
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-rospy,ros-groovy-roscpp,ros-groovy-rosservice,ros-groovy-roslib,libboost1.46-all-dev
Description: This unary stack contains the dynamic_reconfigure package which provides a means to change node parameters at any time without having to restart the node.

