Source: ros-indigo-dynamic-reconfigure
Section: misc
Priority: extra
Maintainer: Esteve Fernandez <esteve@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-indigo-catkin (>= 0.5.87), ros-indigo-message-generation, ros-indigo-roscpp, ros-indigo-roscpp-serialization, ros-indigo-rostest, ros-indigo-std-msgs
Homepage: http://ros.org/wiki/dynamic_reconfigure
Standards-Version: 3.9.2

Package: ros-indigo-dynamic-reconfigure
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-indigo-message-runtime, ros-indigo-roscpp, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-rosservice, ros-indigo-std-msgs
Description: This unary stack contains the dynamic_reconfigure package which provides a means to change node parameters at any time without having to restart the node.
